.arrow_container{
    height: 25rem;
    width: 3rem;
    border: 1px solid blue;
    display: flex;
    
    .arrow{
        height: 25rem;
        border: none;
        background: none;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        font-size: 2rem;
        color: white;
    }
}